.adminAccount-container {
    margin-top: 56px;
    width: 1440px;
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 100px;
    font-family: Sarabun;
}

.adminAccount-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title-adminAccount {
    color: var(--Grises-Text-Default, #545454);
    text-align: center;
    font-family: Sarabun;
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logout-button-admin {
    width: 184px;
    height: 50px;
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
    border-radius: 16px;
    box-shadow: 0 0 0 4px #455B73 !important;
    background: none !important;
    color: #455B73 !important;
    text-align: center;
    font-family: Sarabun;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logout-button-admin:hover{
    background-color: #D4E7FA !important;
    box-shadow: none !important;
}


.logout-button:active {
    background-color: #D4E7FA !important;
    box-shadow: 0 0 0 4px #455B73 !important;
}