.catalog-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
}

.catalog-title-container button {
    background-color: #807E59;
    border: none;
    border-radius: 12px;
    padding: 0px;
    height: 48px;
    padding: 12px;
}

.catalog-title-container a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 0px 0px 0px 12px;
}

.titulo-categorias {
    color: #545454;
    font-size: 49px;
    font-weight: 700;
}

#productos-categorias {
    margin-bottom: 35px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.container-catalog {
    display: flex;
    width: 228px;
    height: 571px;
    background-color: #F2EFC4;
    border-radius: 24px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    overflow: hidden;
}

.foto-categoria {
    width: 180px;
    height: 300px;
    margin: 0px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.foto-categoria img {
    width: 180px;
    height: 300px;
    border-radius: 12px;    
}

.texto-categoria {
    width: 240px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.texto-categoria .texto-nombre-libro {
    /* nombre libro */
    font-size: 31px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    color: white;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    margin-top: 8px;
}

.texto-categoria a {
    text-decoration: none;
}

.texto-categoria .texto-autor {
    /* autor */
    font-size: 33px;   
    color: white;
}

.caja-categoria-precio .texto-precio {
    /* precio */
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(0, 0, 0);
}

.caja-estrellas-categoria {
    display: flex;
    flex-direction: row;
    margin-left: 14px;
    margin-bottom: 15px;
}

.caja-estrellas-categoria img {
    width: 15px;
    height: auto;
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
}

.caja-categoria-comprar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.caja-categoria-botones-carrito {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-comprar {
    width: auto;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    align-self: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* Transición para color de fondo y color del texto */
}

.boton-comprar:hover {
    background-color: black;
    color: white;
}

.quantity-buttons button {
    border: none;
    border-radius: 100px;
    background-color: rgb(207, 207, 207);
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.quantity-buttons span {
    margin-left: 20px;
    margin-right: 20px;
}

/* Botones de paginación */

.categorias-paginacion {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.categorias-paginacion span {
    font-size: 18px;
}

.boton-paginacion {
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* Transición para color de fondo y color del texto */
}

.boton-paginacion.activo {

    background-color: black;
    border: 1px solid black;
    color: white;
}

.boton-paginacion:hover {
    background-color: black;
    border: 1px solid black;
    color: white;
}

.boton-paginacion[disabled] {
    margin-right: 10px;
    margin-left: 10px;
    padding: 8px;
    background-color: white;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    color: rgb(180, 180, 180);
    cursor: not-allowed;
}