#seccion-categorias {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.titulo-categorias {
    display: block;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#productos-categorias {
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

.caja-categorias {
    display: flex;
    width: 240px;
    height: 400px;
    margin: 15px;
    background-color: rgba(253, 251, 251, 0.973);
    border: 1px solid rgba(165, 164, 164, 0.678);
    border-radius: 0px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.foto-categoria {
    width: 240px;
    height: 200px;
    margin: 0px;
    display: flex;
    /* centrar icono de imagen */
    justify-content: center;
    /* centrar icono de imagen */
    align-content: center;
    /* centrar icono de imagen */
    flex-flow: row wrap;
    /* centrar icono de imagen */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.foto-categoria img {
    width: 240px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: filter 0.3s;
    /* Transición suave para el filtro de la imagen */
}

.foto-categoria:hover img {
    filter: brightness(110%);
    /* Aclara la imagen al pasar el mouse */
}

.texto-categoria {
    width: 240px;
    height: 200px;
    margin-bottom: 20px;    
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.texto-categoria .texto-nombre-libro { /* nombre libro */
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    color: black;
    text-overflow: ellipsis;
}

.texto-categoria .texto-autor { /* autor */
    font-size: 16px;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
    color: rgb(79, 79, 79);
}

.caja-categoria-precio .texto-precio { /* precio */
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(0, 0, 0);
}

.caja-estrellas-categoria {
    display: flex;
    flex-direction: row;
    margin-left: 14px;
    margin-bottom: 15px;
}

.caja-estrellas-categoria img {
    width: 15px;
    height: auto;
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
}

.caja-categoria-comprar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.caja-categoria-botones-carrito {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-comprar {
    width: auto;
    margin-bottom: 5px;
    border: solid black 1px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    align-self: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    /* Transición para color de fondo y color del texto */
}

.boton-comprar:hover {
    background-color: black;
    color: white;
}

.quantity-buttons button{
    border: none;
    border-radius: 100px;
    background-color: rgb(207, 207, 207);
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.quantity-buttons span {
    margin-left: 20px;
    margin-right: 20px;
}