html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Encabezado */
#encabezadoHome {
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tituloHeader {
  color: white;
  font-weight: bold;
  font-size: 55px;
  margin-top: 50px;
  margin-bottom: 0px;
}

.botonesHome {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

img[src*="icono_usuario"] {
  margin: 0px 15px 40px 0px;
  width: 35px;
  height: auto;
  align-self: flex-end;
}

img[src*="icono_carrito"] {
  margin: 0px 80px 30px 15px;
  width: 45px;
  height: auto;
  align-self: flex-end;
}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu a {
  color:  black;
  text-decoration: none;
  padding: 21px;
  font-size: 18px;
}

.menu a:hover {
  background-color: black;
  color: white;
}

.navbar label {
  color: black;
  padding: 30px 20px 30px 30px;
}

.navbar img {
  width: 30px;
  height: auto;
  margin: 15px;
}

.navbar input {
  width: 300px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid black;
}

.botonBuscar{
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

/* Main */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cajaMain {
  width: 50%;
  height: auto;
  padding-right: 130px;
  padding-left: 130px;
  padding-bottom: 50px;
  border: 1px solid black;  
  background-color: #ffffff;
}

.cajaMain2 {
  background-color: rgb(199, 199, 199);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.cajaMain2 img {
  width: 60px;
  height: auto;
}

#tituloMain {
  font-size: 40px;
}

.cajaMain p {
  font-size: 18px;
}

.contenido-central {
  display: flex;
  flex-flow: row;
}

/* Filtros */
#seccionFiltros {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color:  rgb(253, 253, 253)
}

#tituloFiltro {
  width: 100%;
  background-color: black;
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.precio-row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.precio-row #minimo, .precio-row #maximo, .precio-row #precioSeparador {
  margin: 10px;
  width: 100px;
}

/* Libros Home */
#seccionNovedades {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}
#tituloNovedades {
  display: block;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#productosHome{
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
}

.cajaProductosHome {
  display: flex;
  width: 240px;
  margin: 10px;
  background-color: rgba(253, 251, 251, 0.973);
  border: 1px solid rgba(165, 164, 164, 0.678);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;

}

.fotoLibroHome {
  width: 200px;
  height: 230px;
  margin: 10px;
  background-color: rgb(199, 199, 199);
  display: flex; /* centrar icono de imagen */
  justify-content: center; /* centrar icono de imagen */
  align-content: center; /* centrar icono de imagen */
  flex-flow: row wrap; /* centrar icono de imagen */
}

.fotoLibroHome:hover {
  background-color: rgb(152, 152, 152);
}

.fotoLibroHome img {
  width: 60px;
  height: auto;
}

.textoLibroHome {
  width: 200px;
  margin-bottom: 20px;
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.textoLibroHome p:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
}

.textoLibroHome p:nth-of-type(2) {
  font-size: 18px;
  margin-top: 0px;
}

.textoLibroHome button {
  width: 200px;
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  align-self: center;
  font-size: 18px;
  cursor: pointer;
}

.textoLibroHome button:hover {
  background-color: black;
  color: white;
}

/* Footer */
#Footer {
  border: 1px solid black;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: black;
  width: 100%;
  height: auto;
}

.cajaFooter {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: black;
  width: 25%;
  height: 100%;
}

.nombresFooter {
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-bottom: 0px;
}

.cajaFooter ul {
  list-style-type: none;
  color: white;
  padding: 0px; 

}

.cajaFooter li {
  margin: 10px 0;
  font-size: 18px;
}

.cajaFooter a {
  text-decoration: none;
  color: white;
  padding-top: 40px;
}

.imagenesRRSS, .imagenesPago {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}

.imagenesRRSS img, .imagenesRRSS a {
  width: auto;
  height: 30px;
  margin: 10px;
  padding: 0px;
}

.imagenesPago img {
  width: auto;
  height: 40px;
  margin: 10px;
  padding: 0px;
}

.copyright {
  border: 1px solid black;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.copyright p {
  color: white;
  text-align: center;
  margin: 0px;
  font-size: 18px;
}