.footer-top {
    background-color: #E1D5CA;
    padding: 20px 0;
}

.footer-bottom {
    background-color: #373330;
    padding: 15px 0;
}

.footer-link {
    color: #545454;
    text-decoration: none;
    font-size: 20px;
}

.footer-text {
    color: #FFFFFF;
    font-size: 20px;
}

.footer-icon {
    color: #FFFFFF;
    margin: 0 10px;
}

.newsletter-button {
    background-color: #975C4C !important;
    color: #FFFFFF !important;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.newsletter-button:hover {
    background-color: #E1D5CA !important;
    color: #975C4C !important;
}

.newsletter-button:active {
    background-color: #E1D5CA !important;
    color: #975C4C !important;
    box-shadow: 0 0 0 4px #975C4C;
}

.form-input {
    border-radius: 12px;
    border: 0 !important;
}

.form-input:focus {
    outline: none !important; 
    box-shadow: none !important; 
}

.info-group-text {
    background-color: #FFFFFF;
    border-radius: 0 12px 12px 0;
}