.footer-top {
    background-color: #E1D5CA;
    padding: 20px 0;
}

.footer-top-admin {
    background-color: #D4E7FA;
    padding: 20px 0;
}

.footer-bottom {
    background-color: #373330;
    padding: 15px 0;
}

.footer-bottom-admin {
    background-color: #B5D1F0;
    padding: 15px 0;
}


.footer-link {
    color: #545454;
    text-decoration: none;
    font-size: 20px;
}

.footer-text {
    color: #FFFFFF;
    font-size: 20px;
}

.footer-text-admin {
    color: #545454;
    font-size: 20px;
}

.footer-icon {
    color: #FFFFFF;
    margin: 0 10px;
}

.footer-icon-admin {
    background-color: #455B73;
    color: #FFFFFF;
    margin: 0 10px;
}

.newsletter-button {
    background-color: #975C4C !important;
    color: #FFFFFF !important;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.newsletter-button-admin {
    background-color: #455B73 !important;
    color: #F5FAFF !important;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    border-radius: 12px;
    border: 0 !important;
}

.info-group-text {
    background-color: #FFFFFF;
    border-radius: 0 12px 12px 0;
}