#encabezadoHome {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloHeader {
    color: white;
    font-weight: bold;
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.botonesHome {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

img[src*="icono_usuario"] {
    margin: 0px 15px 40px 0px;
    width: 35px;
    height: auto;
    align-self: flex-end;
}

img[src*="icono_carrito"] {
    margin: 0px 80px 30px 15px;
    width: 45px;
    height: auto;
    align-self: flex-end;
}