#encabezado-home {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-header {
    color: white;
    font-weight: bold;
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.caja-botones-accion {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

img[src*="icono_usuario"] {
    margin: 0px 15px 40px 0px;
    width: 35px;
    height: auto;
    align-self: flex-end;
    cursor: pointer;
}

img[src*="icono_carrito"] {
    margin: 0px 80px 40px 15px;
    width: 45px;
    height: auto;
    align-self: flex-end;
    cursor: pointer;
}

.icono-carrito {
    position: relative; /* Permite que etiqueta <span> se posicione correctamente */
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}

.cantidad-articulos {
    position: absolute; /* Para añadir el número sobre el icono del carrito */
    top: -10px;
    right: 70px;
    background-color: rgb(101, 24, 208);
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}