/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< REGISTRO DE USUARIO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.registration-container h3 {
    font-size: 49px;
    text-align: center;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.registration-welcome {
    background-color: #F2EFC4;
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 1rem 1rem 1rem 1rem !important;
    margin-bottom: 5rem;
}

.registration-welcome p {
    margin-bottom: 0px;
    font-size: 49px;
}

.registration-form {
    background-color: #FBF9DC;
    box-shadow: -6px 8px 13.8px 0px #00000040;
    border-radius: 80px 80px 80px 80px;
}

.registration-form label {
    font-size: 49px;
    font-weight: bold;
}

.registration-form .form-control {
    width: 50%;
    height: 72px;
    background-color: #FBF9DC;
    border: 3px solid var(--04, #625F2E);
    border-radius: 20px;
}

.registration-form .form-control:hover {
    width: 50%;
    height: 72px;
    background-color: #FBF9DC;
    border: 3px solid var(--04, #625F2E);
    border-radius: 20px;
}

.registration-form .form-control:focus {
    width: 50%;
    height: 72px;
    background-color: #FBF9DC;
    border: 3px solid var(--04, #625F2E);
    border-radius: 20px;
    box-shadow: none;
}

.registration-form .btn-primary {
    background-color: #807E59;
    border: 0px;
    font-size: 25px;
}

.registration-form .btn-primary:hover,
.registration-form .btn-primary:active,
.registration-form .btn-primary:focus-visible,
.registration-form .btn:first-child:active {
    background-color: #FFFFFF;
    color: #807E59;
    border: 0px;
    box-shadow: none;
}