.login-container h3,
.registration-container h3 {
    font-size: 49px;
    text-align: center;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #545454;
}

.login-form,
.registration-form {
    margin-bottom: 240px;
}

.login-form label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.registration-container label {
    font-size: 16px;
    color: #545454;
    font-weight: bold;
    margin-bottom: 12px;
}

.login-form .form-control,
.registration-form .form-control {
    width: 100%;
    height: 57px;
    background-color: #FBFBFB;
    border: none;
    border-radius: 12px;
    transition: border 0.1s ease;
    margin-bottom: 24px;
}

.login-form input::placeholder,
.registration-form input::placeholder {
    font-size: 20px;
    color: #975C4C;
    font-weight: 500;
}

.login-form .form-control:hover,
.login-form .form-control:focus,
.registration-form .form-control:hover,
.registration-form .form-control:focus {
    width: 100%;
    height: 57px;
    background-color: #FBFBFB;
    border: 3px solid #975C4C;
    border-radius: 12px;
    box-shadow: none;
}


/* BOTONES */
.login-form .btn-primary,
.registration-form .btn-primary {  
    margin-top: 24px;
    margin-bottom: 24px;  
    padding: 12px 16px 12px 16px;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    color: #FBFBFB;
    background-color: #975C4C;
    transition: border 0.1s ease;
}

.login-form .btn-primary {
    width: 152px;
}

.registration-form .btn-primary {
    width: 332px;
}

.login-form .btn-primary:hover,
.login-form .btn-primary:focus-visible,
.registration-form .btn-primary:hover,
.registration-form .btn-primary:focus-visible {
    background-color: #E1D5CA;
    color: #975C4C;
    border: 0px;
    box-shadow: none;
    transition: background-color 0.3s, color 0.3s;
}

.login-form .btn-primary:active,
.login-form .btn:first-child:active,
.registration-form .btn-primary:active,
.registration-form .btn:first-child:active {
    background-color: #E1D5CA;
    color: #975C4C;
    outline: 4px solid #975C4C;
    box-shadow: none;
}

.link-olvidaste-contrasena a {
    font-size: 16px;
    color: #545454;
    text-decoration: none;
    font-weight: 500;
    margin: 6px;
}

.link-crear-cuenta a {
    font-size: 20px;
    color: #975C4C;
    font-weight: 500;
    text-decoration: none;
    margin: 12px;
}

/* MODAL */
.user-register-modal .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 4px solid #975C4C;
    border-radius: 24px;
    padding: 24px;
}

.user-register-modal .modal-header {
    padding: 0px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.user-register-modal .modal-header .btn-close {
    padding: 0px;
}

.user-register-modal .modal-title {
    font-weight: bolder;
    color: #975C4C;
    font-size: 25px;
    margin: 0px;
}

.user-register-modal .modal-body {
    padding: 0px;
    text-align: center;
    color: #975C4C;
    font-size: 25px;
    margin: 0px;
}

.user-register-modal .modal-body p {
    margin: 0px;
}

/* ERRORES*/

.login-form .error,
.registration-form .error {
    font-size: 16px;
    color: rgb(204, 0, 0);
    margin-left: 15px;
}