.container-not-found-header {
    margin-top: 24px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.title-not-found {
    color: var(--Grises-Text-Default, #545454);
    text-align: center !important;
    font-family: Sarabun !important;
    font-size: 31px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    margin-bottom: 24px !important;
}

.info-not-found {
    color: var(--Grises-Text-Default, #545454);
    text-align: center !important;
    font-family: Sarabun !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

.separador-not-found {
    height: 192px;
    margin-bottom: 24px;
}