.container-detail {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.product-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.img-libro-detail {
    width: 40%;
}

.img-libro-detail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: filter 0.3s;
}

.info-libro-detail {
    width: 55%;
}

.info-libro-detail h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.info-libro-detail .autor-detail,
.info-libro-detail .resumen-detail,
.info-libro-detail .precio-detail {
    font-size: 16px;
    margin-bottom: 8px;
    color: #666;
}

.caja-estrellas-detail {
    display: flex;
    flex-direction: row;
    margin-left: 2px; 
}

.caja-estrellas-detail img {
    width: 15px;
    height: auto;
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
}

.add-to-cart-detail {
    display: flex;
    justify-content: space-between;
    width: auto;
    border: solid black 1px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    align-self: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.add-to-cart-detail:hover {
    background-color: black;
    color: white;
}

.quantity-buttons button{
    border: none;
    border-radius: 100px;
    background-color: rgb(207, 207, 207);
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.libro-descripcion-detail {
    margin-top: 30px;
}

.libro-descripcion-detail h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #1e1e1e;
}

.libro-descripcion-detail table {
    width: 100%;
    border-collapse: collapse;
}

.libro-descripcion-detail table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #666;
}

.libro-descripcion-detail table td:first-child {
    font-weight: bold;
    width: 15%;
    color: #333;
}

.libro-descripcion-detail table td:last-child {
    width: 70%;
}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .img-libro-detail,
    .info-libro-detail {
        width: 100%;
        text-align: center;
    }
} 