.product-detail-container {
    display: flex;
    width: 1262px !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    margin-top: 17px;
    padding: 0 !important;
}

.product-detail {
    width: 1262px;
    display: flex;
    flex-wrap: nowrap !important;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

.product-image img {
    width: 100%;
    flex: 1 0 0;
    background: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.productDeteil-info {
    display: flex;
    width: 736px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.productDeteil-info h1 {
    color: var(--Grises-Text-Default, #545454);
    font-family: Sarabun !important;
    font-size: 39px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.autor-info {
    width: 506px;
    color: var(--Grises-Text-Default, #545454);
    font-family: Sarabun;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.price {
    width: 508px;
    color: var(--Grises-Text-Default, #545454);
    font-family: Sarabun;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rating-stars {
    display: flex;
    flex-direction: row;
    width: 138px;
    margin-right: 5px;
    align-items: center;
    gap: 12px;
}

.rating-stars svg {
    width: 18px !important;
    height: 24px !important;
}

.productDetail-specs {
    list-style: none;
    display: flex;
    padding: 3px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;

    color: var(--Grises-Text-Default, #545454);
    font-family: Sarabun;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.productDetail-specs li {
    margin-bottom: 5px;
}

.productDetail-argumento-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.productDetail-argumento-container h3 {
    color: var(--Grises-Text-Default, #545454);
    /* Sarabun/Titles/25px: Bold */
    font-family: Sarabun;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.productDetail-argumento-container {
    color: var(--Grises-Text-Default, #545454);
    /* Sarabun/Components/16px: Medium */
    font-family: Sarabun;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.productDetail-container-recomendaciones {
    display: flex;
    width: 1262px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 138px;
    padding: 0 16px;
}

.productDetail-col-recomendaciones {
    width: 1262px;
}

.productDetail-title-recomendaciones {
    margin-left: 16px;
    color: var(--Grises-Text-Default, #545454);
    font-family: Sarabun;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.productDetail-container-recomendaciones-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productDetail-recomendaciones-card {
    display: flex;
    width: 248px;
    height: 394px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid var(--Verde-Usuario-Default, #975C4C) !important;
    background: var(--Grises-Blanco, #FFF);
}

.productDetail-recomendaciones-card .card {
    width: 216px;
    height: 362px;
    display: flex;
    flex-direction: column;
    border: 0px;
}

.productDetail-recomendaciones-card .card img {
    border-radius: 12px;
    width: 216px;
    height: 300px;
}

.productDetail-recomendaciones-card .card-body {
    width: 216px;
    height: 46px;
    padding: 0px;
    margin-top: 16px;
}

.productDetail-recomendaciones-card .card-body .card-title {
    font-size: 16px;
    font-weight: bold;
    color: #545454;
    margin: 0px 0px 0px 0px;
}

.productDetail-recomendaciones-card .card-body p {
    font-size: 13px;
    color: #545454;
    margin: 0px 0px 0px 0px;
}


/* QUANTITY BUTTONS */

.quantity-section .quantity-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 128px;
    height: 48px;
    border: 2px solid #806259;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;
}

.quantity-section .quantity-buttons span {
    font-size: 25px;
    color: #545454;
}

.quantity-section .quantity-buttons button {
    margin: 0px;
    background-color: transparent;
    border: none;
}

/* QUANTITY BUTTONS SIN STOCK*/

.quantity-section-no-stock .quantity-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 128px;
    height: 48px;
    border: 2px solid #806259;
    border-radius: 16px;
    background-color: white;
    opacity: 0.5;
    pointer-events: none;
}

.quantity-section-no-stock .quantity-buttons span {
    font-size: 25px;
    color: #545454;
    opacity: 0.5;
}

.quantity-section-no-stock .quantity-buttons button {
    margin: 0px;
    background-color: transparent;
    border: none;
    opacity: 0.5;
}

/* BOTÓN AÑADIR AL CARRITO */

.detail-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.buy-now-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}

.detail-buttons-container .boton-comprar,
.detail-buttons-container .boton-comprar:focus,
.detail-buttons-container .boton-comprar:focus-visible,
.detail-buttons-container .boton-comprar:active,
.detail-buttons-container .boton-comprar:hover {
    margin-top: 12px;
    margin-right: 12px;
    width: 223px;
    height: 50px;
    font-size: 20px;
    color: #806259 !important;
    background-color: transparent;
    border-radius: 16px;
    border: 4px solid #806259 !important;
}

/* BOTÓN COMPRAR AHORA */
.buy-now-container .buy-now {
    width: 223px;
    height: 50px;
    border-radius: 16px;
    background: #806259;
    border: none;
    color: #FBFBFB;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: background-color 0.3s, color 0.3s;
}

.buy-now-container .buy-now:hover {
    background-color: #E1D5CA;
    color: #806259;
}

.buy-now-container .buy-now:active,
.buy-now-container .buy-now:focus,
.buy-now-container .buy-now:focus-visible {
    background-color: #E1D5CA;
    color: #806259;
    border: 4px solid #806259;
}

/* BOTÓN COMPRAR AHORA SIN STOCK */

.buy-now-container-no-stock .buy-now {
    width: 223px;
    height: 50px;
    border-radius: 16px;
    background: #806259;
    border: none;
    color: #FBFBFB;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
    pointer-events: none;
}

/* SIN STOCK */
.productDeteil-info .out-of-stock {
    opacity: 0.5;
    pointer-events: none;
    background-color: #ffffff;
}

/* Asegura que los enlaces dentro de .out-of-stock se mantengan clickeables */
.productDeteil-info .out-of-stock a {
    pointer-events: auto;
}