.userPage-container {
    width: 1440px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 100px;
}

.account-header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.account-header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.account-user-cuenta-direccion {
    display: flex;
    margin-bottom: 56px;
    justify-content: space-between;
}

.logout-button {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: none;
    background: var(--Verde-200, #E1D5CA) !important;
    color: var(--Verde-Usuario-Default, #975C4C) !important;
    text-align: center;
    font-family: Sarabun;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logout-button:active {
    box-shadow: 0 0 0 4px #975C4C !important;
}

.card-avatar {
    display: flex;
    text-align: center;
    width: 240px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border: none !important;
}

.edit-datos-button,
.gestionar-direcciones-button,
.library-button,
.delete-account-user,
.gestionar-privacidad-button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    padding: 8px 16px;
}

.edit-datos-button {
    display: flex !important;
    width: 174px;
    height: 42px;
    padding: 8px 16px;
    margin: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
    border-radius: 16px;
    background: #806259 !important;
    color: #FBFBFB !important;
}

.edit-datos-button:hover {
    background-color: #E1D5CA !important;
    color: #975C4C !important;
}

.edit-datos-button:active {
    background-color: #E1D5CA !important;
    border: 2px solid #975C4C !important;
}

.datos-cuenta {
    display: flex;
    width: 440px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px !important;
    flex-shrink: 0;
    border: none !important;
}

.datos-cuenta p {
    margin-bottom: 8px;
}

.gestionar-direcciones-button {
    display: flex;
    width: 229px;
    height: 42px;
    padding: 8px 16px;
    margin: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
    border-radius: 16px;
    background: #806259 !important;
    color: #FBFBFB !important;
}

.gestionar-direcciones-button:hover{
    background-color: #E1D5CA !important;
    color: #975C4C !important;
}

.gestionar-privacidad-button {
    display: flex;
    width: 249px;
    height: 42px;
    padding: 8px 16px;
    margin: 16px;
    justify-content: center;
    align-items: center;
    gap: 12px !important;
    border-radius: 16px;
    background: #806259 !important;
    color: #FBFBFB !important;
}

.gestionar-privacidad-button svg {
    margin-left: 16px;
}

.delete-account-user {
    border-radius: 16px;
    border: none !important;
    background: #D35959 !important;
    color: var(--Usuario-Background, #FBFBFB);
    text-align: center;
    font-family: Sarabun;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.image-icon {
    margin-left: 12px;
    margin-right: 16px;
}